# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/

# MLflow
mlruns/
mlartifacts/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Jupyter
.ipynb_checkpoints/

# ChromaDB
chroma_persistent/
chroma_data/

# Sandbox ES data
sandbox_es_data/